body {
    background-color: #353536;
}

.whiteButton {
    background-color: #FFFEE0;
}

header {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: fantasy;
    color: rgba(147, 147, 136, 0.49);
    height: 100%;
    padding-top: 10px;
}

.navbar {
    z-index: 9999;
}

.gentleman {
    height: 26px;
    padding-right: 15px;
    padding-bottom: 4px;
    align-content: center;
}

a {
    text-decoration: none;
    color: #FFFEE0;
}

a:hover {
    color: #000000;
    text-decoration: none;
}


.topNavBar {
    background-color: #C90303;
    width: 90%;
    margin: 0 auto;

}

li {
    list-style: none;
}

.logoText {
    font-size: 24px;
}

.mainSection {
    width: 90vw;
    max-width: 100%;
    margin: 20px auto;
    background-image: url("../img/deep-tetris.jpg");
    background-size: contain;
    height: 100%;
    padding: 15px;
    border-radius: 12px;

    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

.hdr-text {
    font-family: fantasy;
    font-weight: 600;
    color: #FFFEE0;
}

.mainSection h2 {
    padding-top: 20px;
    font-family: fantasy;
    font-weight: 600;
    color: #FFFEE0;
}

.mainButtonSection {
    margin: 20px auto;
    text-align: center;

}



.hd-btn {
    width: 100%;
    text-align: center;
    height: 74px;
    background-color: #FFFEE0;
    margin: 20px auto;
    border-radius: 12px;
    padding: 8px;
    color: #E63728;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.panelButton {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #E63728;
    padding-top: 60px;
    font-size: 24px;
    text-align: center;
    height: 15rem;
    display: flex;
}

.panelButton:hover {
    background-color: rgba(93, 86, 84, 0.25);
    background-image: url(../img/gentleman_suit_Tsp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFEE0;
    font-family: fantasy;
    font-size: 36px;
    padding-top: 30px;
}

.theSpan {
    margin-top: 30px;
    font-family: fantasy;
    width: 100%;
}

.overLayer {
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 93, 0.15);
    border-radius: 12px;
    position: relative;
}



#contactForm {
    line-height: 14px;
    height: 100%;
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(90, 92, 93, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
}

#contactForm input {
    margin: 15px;
}

#contactForm textarea {
    height: 80px;

}

.contact-text {
    color: whitesmoke;

}

.submitBtn {
    height: 30px;
    margin: 10px;
}

.formHolder {
    height: 100%;
    width: 100%;

}

#portfolio-carousel {
    margin: 20px auto;
    width: 70%;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
    transition: all 2.3s ease;
}

.slide-fade-leave-active {
    transition: all 3.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

    {
    transform: translateX(10px);
    opacity: 0;
}


@media screen and (max-width: 400px) {
    .panelButton {
        padding: 8px;
        width: 80px;
        height: auto;

    }

    .theSpan {
        font-size: 14px;
        margin: auto;

    }

    footer {
        height: 40px;
        padding-top: 4px;
    }

    header {
        height: 50px;
    }

    #contactForm {
        line-height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: auto;
    }
    #contactForm input {
        margin: 2px auto;
        height: 100%;

    }

}

@media screen and (max-width: 400px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
